/* base */
/* header */
/* home */
/* about */
/* services */
/* skills */
/* portfolio */
/* contact */
/* footer */
/*jQery */
/* respnsive */

/* base */
h1,h4,h2,h5,p,a,li{
  color: #2b2b28;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  
}

h2{
  font-size:50px;
}

/* header */
.navbar{
  background-color:#ecdfc8;
  height:60px;

}


.navbar-item{
  color: #363636;
  font-size: 20px;
  margin: 0 10px;
}
.navbar-brand img{
  height:60px;
}

.navbar-toggler-icon{
  color: red;
}



/* home */
.home{
  height:600px;
  background-image: url("image/photo-1542435503-956c469947f6.jpg");
  background-size:cover;
  padding-top:15%;
}

.home-topics{
  text-align: center;
}
.home-title{
  font-size:80px;
  
}
.home-message{
  margin-top: 30px;
}

.contact-btn{
  background-color:#ffaaa6;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 20px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
}







/* about */
.about{
  height:700px;
}

.about-card-title::before{
  content: "❝ ";
  color:white;
  font-size: 55px;
}

.about-card-title{
  font-size: 55px; 
}

.about-img{
 height:230px;
 position: relative;
 top: -35%;
}

.about-card{
  background-color: #eaceb4;
  padding:40px 0px 50px 50px;
  margin-top: 200px;
  margin-left:15%;
  width:55%;
  height:450px;
  position: absolute;
  box-shadow: 10px 10px #c7b198;
  transition: 3s;
}

.about-card-lead{
  line-height:30px;
  font-size:16px;
  letter-spacing: 5px;

}

.aboutimage{
  padding:0;
}

/* services */
.services{
  margin-top: 150px;
  background-image:url(image/922e4e4ad38a82155dec137a5530821b670ee456.jpeg);
  background-size: cover;
  padding-bottom: 100px;
}
.services-title{
  font-size: 55px;  
  padding-top: 50px;
  color: white;
}

.services-title::before{
  content: "❝ ";
  color:#ffaaa6;
  font-size: 55px;
}

.services-card{
  background-color:rgba(253, 252, 252, 0.8);
  padding: 40px;  
  height: 85%;
  margin-top:30px;
  width: 95%;
}
.active-card{
  background-color:rgba(253, 252, 252, 1); 
}

.services-lead{
  letter-spacing: 5px; 
  line-height: 30px;
  margin-top:20px;
}

.services-list {
  list-style: none;
  padding-left: 0;
}

/* skills */
.skills{
  background-color:#c7b198;
  padding-top: 50px;
  padding-bottom:25px;
  
}
.skills-title{
   background-color:#2b2b28;
   color: white;
   font-size: 55px;
   width: 350px;
   padding: 10px 50px 10px 5px;
   box-shadow: 30px 30px white;;
}

.skills-circle{
  background-color: #ffefe0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  padding-top: 60px;
  margin: 50px auto;
  text-align: center;
}
.skills-circle i{
  font-size:50px;
  color:gray;
}

.skills-title::before{
  content: "❝ ";
  color:#c7b198;
  font-size: 55px;
}

.skill-name{
  color:gray;
  font-size:20px;
  letter-spacing: 7px;
  padding-top: 20px;
  
}
.jquery p{
  letter-spacing: 4px;
  line-height:20px;
}


.scroll-animation-obj {
  opacity: 0;
  transition: all 0.5s ease 0.5s;
}

.scroll-animation-left {
  transform: translate(-120px,0);
}


/* portfolio */
.portfolio{
  background-color: #ffefe0;
  height: 700px;
}

.portfolio-title{
  font-size: 55px;
  text-align: center;
  padding: 50px 0;
}

.portfolio-title::before{
  content: "❝ ";
  color:#c7b198;
  font-size: 55px;
}

/* .portfolio-img{
  width: 500px;
  text-align: center;
}
.portfolio-img img{
  width:50%;
} */

/* contact */
.contact{
  background-image:url(image/3bcf48b7ca1ad4417d6638999118e13a228a8203.jpeg);
  background-size: cover;
  padding: 150px 0;
}

.cantact-form{
  background-color: rgba(253, 252, 252, 0.8);
  width: 50%;
  margin:0 auto;
  text-align: center;
  padding:50px;
}

.contact-title{
  font-size: 55px;
}

.contact-title::before{
  content: "❝ ";
  color: #ffaaa6;
  font-size: 55px;
}

.cantact-form h2,p,.text{
  color: gray;
}

.text,.formtext{
  width: 60%;
  border-radius: 5px;
  padding:5px;
}

.contact-item{
  margin-top: 20px;
  margin-bottom: 5px;
  letter-spacing: 5px;
}

.contact-lead{
  letter-spacing: 5px; 
}

.submit-btn{
  background-color: #eaceb4;
  color:white;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 20px;
}

.errormessage{
  color: red;
  font-size:15px;
}
/* footer */
.footer{
  background-color:#eaceb4;
  height: 80px;
  padding-top: 30px;
}

.footer p{
  text-align: center;
  font-size: 20px;
}


/* respnsive */
/* md */
@media(max-width:991px){
  .about-card-title::before{
    content: "❝ ";
    color:white;
    font-size: 40px;
  }

  .about-card{  
    padding:20px 0px 30px 40px;
    width:65%;  
    margin-left:10%;
  }
  

  .about-card-title{
    font-size: 40px; 
  }

  .about-img{
    height:190px;
   }
   .services-list {
    font-size: 14px;
  }
  .services-lead{
    letter-spacing: 5px; 
    line-height: 28px; 
  }
  .services-card{
    padding-bottom: 50px;  
    height: 90%;
  }
 
  .cantact-form{
    width: 70%;
  }
  
  .text,.formtext{
    width: 70%;
  }

  .navbar-item{
    font-size: 15px;
  }
}
/* sm */
@media(max-width:767px){
  .home{
    padding-top:20%;
  }
  .home-title{
    font-size:68px;
  }
  .about-card-lead{
    line-height:20px;
    font-size:14px;
  }
  .about-card{  
    padding:20px 0px 20px 40px;
    width:70%;
    margin-left:0;
  }
  
  .about-img{
    height:120px;
    top: -20%;
   }

   .cantact-form{
    width: 80%;
  }
  .text,.formtext{
    width: 80%;
  }

  .navbar{
    background-color:#ecdfc8;
    height:75px;
  }

  .navbar-toggler-icon{
    z-index: 1;

  }
}



@media(max-width:543px){
.home{
  padding-top:30%;
 }
.about-card{
  height:500px;
}
.about-card-title{
  font-size: 28px; 
}
.about-card-lead{
  line-height:20px;
}
.about-card{  
  padding:15px 0px 20px 30px;
  font-size:13px;
}
.about-img{
  height:115px;
  top:-20%;
 }
 .contact-title::before{
  content: "❝";
  font-size: 40px;
}
.contact-title{
  font-size: 40px;
}
}
 @media(max-width:375px){
  .about-card-title::before{
    content: "❝";
    color:white;
    font-size: 25px;
  }

  .about-card-title{
    font-size: 27px; 
  }
  .about-card{
    /* background-color: #eaceb4;
    padding:40px 0px 50px 50px;
    margin-top: 200px;
    margin-left:15%;
    width:55%; */
    height:550px;
    /* position: absolute;
    box-shadow: 10px 10px #c7b198;
    transition: 3s; */
  }
  .about-img{
    top:-15%;
   }

 }


